# Графовый анализ тем ВКР на программе Международные отношения в 2024 году.

media and press

RPC and China

Catalan separatist movement and Catalan independence movement

In [1]:
import pandas as pd
import numpy as np
import networkx as nx

from graph import MyGraph
g = MyGraph("2024_final.json")

In [3]:
g.set_dfs()

In [ ]:
g.nodes_df[g.nodes_df["type"] == "tutors"].sort_values(by="times", ascending=False)

In [34]:
g.nodes_df

                     node  times    type
0                Baklanov      3  tutors
1                Bartenev      1  tutors
2                    Bass      4  tutors
3                  Batyuk      4  tutors
4                  Belous      1  tutors
..                    ...    ...     ...
219            technology      5  topics
220  territorial disputes      1  topics
221           trafficking      1  topics
222             transport      1  topics
223                  turn      1  topics

[224 rows x 3 columns]

In [15]:
r.index

MultiIndex([(    'Baklanov',  3, 'tutors'),
            (    'Bartenev',  1, 'tutors'),
            (     'Novikov', 28, 'tutors'),
            (   'Paramonov',  1, 'tutors'),
            (   'Puzyanova',  3, 'tutors'),
            (    'Romanova',  1, 'tutors'),
            (   'Rosenthal',  2, 'tutors'),
            (     'Rozhkov',  1, 'tutors'),
            (      'Scribe',  1, 'tutors'),
            (      'Senyuk',  1, 'tutors'),
            ('Shcherbakova',  2, 'tutors'),
            ( 'Sherstyukov',  1, 'tutors'),
            (      'Sizova',  1, 'tutors'),
            (    'Training',  1, 'tutors'),
            (     'Yashina',  4, 'tutors'),
            (    'Yenikeev',  4, 'tutors'),
            (    'Zakharov',  3, 'tutors'),
            (   'Zinovieva',  3, 'tutors'),
            (        'Zuev',  1, 'tutors'),
            (     'Maslova',  2, 'tutors'),
            (    'Lukyanov',  5, 'tutors'),
            (     'Kutyrev',  1, 'tutors'),
            (      'Frolov',  1, 'tutors'),
            (        'Bass',  4, 'tutors'),
            (      'Batyuk',  4, 'tutors'),
            (      'Belous',  1, 'tutors'),
            (   'Bordachev',  1, 'tutors'),
            (        'Cats',  1, 'tutors'),
            (      'Entina',  3, 'tutors'),
            (    'Falconer',  1, 'tutors'),
            (      'Glaser',  2, 'tutors'),
            (      'Kurdin',  1, 'tutors'),
            (     'Grafova',  1, 'tutors'),
            (      'Kanaev',  2, 'tutors'),
            (     'Karneev',  1, 'tutors'),
            (     'Karpova',  1, 'tutors'),
            (     'Korneev',  2, 'tutors'),
            (    'Kosevich',  2, 'tutors'),
            (   'Krivushin',  1, 'tutors'),
            (     'Zvereva',  2, 'tutors')],
           names=['node', 'times', 'type'])

np.float64(0.0135)

In [22]:
results = nx.degree_centrality(nx.Graph(g.only_connections_lst))
df = pd.DataFrame(results.items(), columns=["node", "result"])
df["result"] = df["result"].round(4)

df.sort_values("result", ascending=False).head(10)

           node  result
25       policy  0.5991
0       Novikov  0.3694
14       Russia  0.3559
19           US  0.3333
37  interaction  0.2342
8            EU  0.2027
2         China  0.1847
6      security  0.1802
43       France  0.1802
66    diplomacy  0.1441

In [28]:
nodes = [
    (
        node, 
        {'group': node_type, 'label': node, 'size': 20}
    )
    for (node, times, node_type) in g.nodes_lst
]
new_g = nx.Graph(g.only_connections_lst)
new_g.add_nodes_from(nodes)

In [29]:
results = nx.degree_centrality(nx.Graph(g.only_connections_lst))
df = pd.DataFrame(results.items(), columns=["node", "result"])
df["result"] = df["result"].round(4)

df.sort_values("result", ascending=False).head(10)

           node  result
25       policy  0.5991
0       Novikov  0.3694
14       Russia  0.3559
19           US  0.3333
37  interaction  0.2342
8            EU  0.2027
2         China  0.1847
6      security  0.1802
43       France  0.1802
66    diplomacy  0.1441

In [7]:
results = nx.eigenvector_centrality(new_g)
df = pd.DataFrame(results.items(), columns=["node", "result"])
df["result"] = df["result"].round(4)

df.sort_values("result", ascending=False).head(10)

           node  result
25       policy  0.3678
14       Russia  0.2680
0       Novikov  0.2676
19           US  0.2493
37  interaction  0.1693
8            EU  0.1692
2         China  0.1576
6      security  0.1525
18       energy  0.1482
43       France  0.1382

In [30]:
results = nx.betweenness_centrality(new_g)
df = pd.DataFrame(results.items(), columns=["node", "result"])
df["result"] = df["result"].round(4)

df.sort_values("result", ascending=False).head(10)

           node  result
25       policy  0.3625
14       Russia  0.1226
0       Novikov  0.1189
19           US  0.0945
37  interaction  0.0675
2         China  0.0443
8            EU  0.0437
43       France  0.0431
6      security  0.0420
66    diplomacy  0.0251

               node  result
3   Solomon Islands     0.0
4          Kiribati     0.0
5    infrastructure     0.0
10        transport     0.0
11      integration     0.0
12         aviation     0.0
22      New Zealand     0.0
23          ecology     0.0
26           Frolov     0.0
27      North Korea     0.0

In [10]:
results = nx.load_centrality(new_g)
df = pd.DataFrame(results.items(), columns=["node", "result"])
df["result"] = df["result"].round(4)

df.sort_values("result", ascending=False).head(10)

           node  result
25       policy  0.3556
14       Russia  0.1180
0       Novikov  0.1154
19           US  0.0927
37  interaction  0.0672
43       France  0.0434
2         China  0.0432
8            EU  0.0422
6      security  0.0413
66    diplomacy  0.0246

In [12]:
results = nx.pagerank(new_g)
df = pd.DataFrame(results.items(), columns=["node", "result"])
df["result"] = df["result"].round(4)

df.sort_values("result", ascending=False).head(10)

           node  result
25       policy  0.0501
0       Novikov  0.0302
14       Russia  0.0282
19           US  0.0261
37  interaction  0.0189
8            EU  0.0165
43       France  0.0154
2         China  0.0150
6      security  0.0148
66    diplomacy  0.0119